<mat-card appearance="outlined">

  <mat-card-header >
    <h1></h1>
    <mat-card-title>هجري إلى ميلادي | ميلادي إلى هجري</mat-card-title>
    <mat-card-subtitle>إختر التاريخ الذي تريد تحويله في الأسفل</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- Gregorian -->
    <gregorian-datepicker (onDateChanged)="gregorianToHijri($event)" [date]="gregorianDate"></gregorian-datepicker>
    <h2><i class="fa fa-exchange"></i></h2>
    <!-- Hijri -->
    <hijri-datepicker (onDateChanged)="hijriToGregorian($event)" [date]="hijriDate"></hijri-datepicker>
  </mat-card-content>

</mat-card>







